/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Botones */
.btn {
    border-radius: 5px;
}

/* Tarjetas */
.card-modern {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
